<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppHospital.Properties.Settings.HospitalDBConnectionString"
            connectionString="Data Source=DESKTOP-696IDCD\SQLEXPRESS;Initial Catalog=HospitalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AppHospital.Properties.Settings.HospitalDBConnectionString1"
            connectionString="Data Source=DESKTOP-T1NAFOT\SQLEXPRESS;Initial Catalog=HospitalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>